<%- include('fragments/head.ejs')%>
<body>

    <%- include('fragments/navigation.ejs')%>
   

<div>
    <h1>email * acheklie@mum.edu *..Maharishi International Universtiy</h1>
    
</div>

    <%- include('fragments/end.ejs')%>