<!--comeback to include head.ejs-->
<%- include('fragments/head.ejs')%>


<body>

    <!--come back to insert navigation.ejs-->
    <%- include('fragments/navigation.ejs')%>

    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <div class="panel panel-primary">
                    <div class="panel-heading">my first e-poem app</div>
                    <div class="panel-body"><img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive"
                            style="width:100%" alt="Image"></div>
                    <div class="panel-footer">read more</div>
                </div>
            </div>           
        </div>
    </div><br>


   <!--come back to insert end.ejs-->
   <%- include('fragments/end.ejs')%>