<div>
    <footer class="container-fluid text-center">
      <div id="container1">
        </class>
        <span style="float: left;">e-poem corrner ... By Amelework  G Cheklie</span>
        <span style="float: right;"> email * acheklie@mum.edu *..March 2020 Iowa USA</span>
      </div>
    </footer>
    </div>
    </div>

</body>

</html>